<div class="tab skills-list parchment-panel" data-group="primary" data-tab="skills">
  {{#each skills}}
    <label class="skill-row" data-tooltip="{{this.description}}">
      <input type="checkbox" name="system.skills.{{this.key}}.trained" {{#if this.trained}}checked{{/if}}/>
      <span>{{this.label}}</span>
    </label>
  {{/each}}
</div>

<div class="tab spellbook-list notebook-panel" data-group="primary" data-tab="spellbook">
  <ol class="item-list">
    {{#each spells}}
      <li class="item-row" data-item-id="{{this.id}}">
        <span class="item-name" data-tooltip="{{this.system.description}}">{{this.name}}{{#if this.usedToday}} <i class="fas fa-moon" title="{{localize 'DNK.SpellUsedToday'}}"></i>{{/if}}</span>
        <span class="item-detail">{{#if this.pathLabel}}{{this.pathLabel}} · {{/if}}{{this.system.ability}} / {{localize "DNK.Level"}} {{this.system.successes}}</span>
        <span class="item-controls">
          <a class="item-roll" title="{{localize 'DNK.Roll'}}"><i class="fas fa-dice-d6"></i></a>
          <a class="item-edit" title="{{localize 'DNK.Edit'}}"><i class="fas fa-edit"></i></a>
          <a class="item-delete" title="{{localize 'DNK.Delete'}}"><i class="fas fa-trash"></i></a>
        </span>
      </li>
    {{/each}}
  </ol>
  <button type="button" class="item-create" data-type="spell"><i class="fas fa-plus"></i> {{localize "DNK.AddSpell"}}</button>
  <p class="hint">{{localize "DNK.SpellbookHint"}}</p>
</div>

<div class="tab backpack-list pouch-panel" data-group="primary" data-tab="backpack">
  <p class="slot-count {{#if purrecious.over}}over{{/if}}" data-tooltip="{{localize 'DNK.PurreciousSlotsTooltip'}}">
    <i class="fas fa-paw"></i> {{localize "DNK.PurreciousItems"}}: {{purrecious.used}} / {{purrecious.slots}}
  </p>
  <ol class="item-list">
    {{#each gear}}
      <li class="item-row" data-item-id="{{this.id}}">
        <span class="item-name" data-tooltip="{{this.system.description}}">{{this.name}}{{#if this.system.purrecious}} <i class="fas fa-paw" title="{{localize 'DNK.Purrecious'}}"></i>{{/if}}</span>
        <span class="item-detail">x{{this.system.quantity}}</span>
        <span class="item-controls">
          <a class="item-edit" title="{{localize 'DNK.Edit'}}"><i class="fas fa-edit"></i></a>
          <a class="item-delete" title="{{localize 'DNK.Delete'}}"><i class="fas fa-trash"></i></a>
        </span>
      </li>
    {{/each}}
  </ol>
  <button type="button" class="item-create" data-type="gear"><i class="fas fa-plus"></i> {{localize "DNK.AddGear"}}</button>
</div>

<div class="tab combat-actions parchment-panel" data-group="primary" data-tab="combat">
  <div class="claw-status {{#if inClaw}}active{{/if}}">
    {{#if inClaw}}
      <span><i class="fas fa-droplet"></i> {{localize "DNK.InClawCatfight"}}</span>
      <button type="button" class="claw-leave">{{localize "DNK.LeaveClaw"}}</button>
    {{else}}
      <span>{{localize "DNK.FangCatfightNote"}}</span>
      <button type="button" class="claw-enter" data-tooltip="{{localize 'DNK.EnterClawTooltip'}}">{{localize "DNK.EnterClaw"}}</button>
    {{/if}}
  </div>

  <h4>{{localize "DNK.AggressiveActions"}}</h4>
  <div class="combat-grid">
    <button type="button" class="combat-action" data-action="fangAttack" data-tooltip="{{localize 'DNK.FangAttackTooltip'}}">{{localize "DNK.FangAttack"}}</button>
    <button type="button" class="combat-action" data-action="clawAttack" data-tooltip="{{localize 'DNK.ClawAttackTooltip'}}">{{localize "DNK.ClawAttack"}}</button>
    <button type="button" class="combat-action" data-action="hinder" data-tooltip="{{localize 'DNK.HinderTooltip'}}">{{localize "DNK.Hinder"}}</button>
  </div>

  <h4>{{localize "DNK.NonAggressiveActions"}}</h4>
  <div class="combat-grid">
    <button type="button" class="combat-action" data-action="defend" data-tooltip="{{localize 'DNK.DefendTooltip'}}">{{localize "DNK.Defend"}}</button>
    <button type="button" class="combat-action" data-action="help" data-tooltip="{{localize 'DNK.HelpTooltip'}}">{{localize "DNK.Help"}}</button>
    <button type="button" class="combat-action" data-action="move" data-tooltip="{{localize 'DNK.MoveTooltip'}}">{{localize "DNK.Move"}}</button>
    <button type="button" class="combat-action" data-action="interact" data-tooltip="{{localize 'DNK.InteractTooltip'}}">{{localize "DNK.Interact"}}</button>
    <button type="button" class="combat-action" data-action="healAlly" data-tooltip="{{localize 'DNK.HealAllyTooltip'}}">{{localize "DNK.HealAlly"}}</button>
  </div>

  <h4>{{localize "DNK.LeavingCatfight"}}</h4>
  <div class="combat-grid">
    <button type="button" class="concede" data-tooltip="{{localize 'DNK.ConcedeTooltip'}}">{{localize "DNK.Concede"}}</button>
    <button type="button" class="combat-action" data-action="flee" data-tooltip="{{localize 'DNK.FleeTooltip'}}">{{localize "DNK.Flee"}}</button>
    <button type="button" class="combat-action" data-action="surrender" data-tooltip="{{localize 'DNK.SurrenderTooltip'}}">{{localize "DNK.Surrender"}}</button>
  </div>
  <p class="hint">{{localize "DNK.CatfightHint"}}</p>
</div>
