<form class="dnk-roll-dialog">
  {{#if showAbility}}
    <div class="form-group">
      <label>{{localize "DNK.Ability"}}</label>
      <select name="ability">
        {{#each abilities}}
          <option value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
        {{/each}}
      </select>
    </div>
  {{else}}
    <p class="hint">{{fixedAbility}}</p>
  {{/if}}
  {{#if showSkills}}
    <div class="form-group">
      <label>{{localize "DNK.SkillUsed"}}</label>
      <select name="skill">
        <option value="">{{localize "DNK.NoSkill"}}</option>
        {{#each skills}}
          <option value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
        {{/each}}
      </select>
    </div>
    <p class="hint">{{localize "DNK.SkillUsedHint"}}</p>
  {{/if}}
  {{#if showAdvantages}}
    <div class="form-group">
      <label>{{localize "DNK.Advantage"}}</label>
      <input type="number" name="advantage" value="{{advantage}}" min="0" step="1"/>
    </div>
    <div class="form-group">
      <label>{{localize "DNK.Disadvantage"}}</label>
      <input type="number" name="disadvantage" value="{{disadvantage}}" min="0" step="1"/>
    </div>
  {{/if}}
  {{#if showDifficulty}}
    <div class="form-group">
      <label>{{localize "DNK.Difficulty"}}</label>
      <select name="difficulty">
        <option value="0" {{#if (eq difficulty 0)}}selected{{/if}}>{{localize "DNK.DifficultyNone"}}</option>
        <option value="1" {{#if (eq difficulty 1)}}selected{{/if}}>{{localize "DNK.DifficultyEasy"}}</option>
        <option value="2" {{#if (eq difficulty 2)}}selected{{/if}}>{{localize "DNK.DifficultyMedium"}}</option>
        <option value="3" {{#if (eq difficulty 3)}}selected{{/if}}>{{localize "DNK.DifficultyDifficult"}}</option>
        <option value="4" {{#if (eq difficulty 4)}}selected{{/if}}>{{localize "DNK.DifficultyLegendary"}}</option>
      </select>
    </div>
  {{/if}}
</form>
