<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <input class="item-name" type="text" name="name" value="{{item.name}}"/>
  </header>

  <div class="form-group">
    <label data-tooltip="{{localize 'DNK.SpellPathTooltip'}}">{{localize "DNK.SpellPath"}}</label>
    <select name="system.path">
      <option value="" {{#if (eq system.path "")}}selected{{/if}}>{{localize "DNK.SpellPathCustom"}}</option>
      {{#each spellPaths}}
        <option value="{{@key}}" {{#if (eq ../system.path @key)}}selected{{/if}}>{{this.label}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label>{{localize "DNK.Ability"}}</label>
    <select name="system.ability" {{#if system.path}}disabled{{/if}}>
      <option value="strong" {{#if (eq system.ability "strong")}}selected{{/if}}>{{localize "DNK.AbilityStrong"}}</option>
      <option value="smart" {{#if (eq system.ability "smart")}}selected{{/if}}>{{localize "DNK.AbilitySmart"}}</option>
      <option value="cute" {{#if (eq system.ability "cute")}}selected{{/if}}>{{localize "DNK.AbilityCute"}}</option>
    </select>
  </div>

  <div class="form-group">
    <label data-tooltip="{{localize 'DNK.SpellLevelTooltip'}}">{{localize "DNK.Level"}}</label>
    <input type="number" name="system.successes" value="{{system.successes}}" min="1" max="4" data-dtype="Number"/>
  </div>

  <div class="form-group">
    <label data-tooltip="{{localize 'DNK.RecastTooltip'}}">{{localize "DNK.RecastCost"}}</label>
    <input type="number" name="system.recastCost" value="{{system.recastCost}}" min="0" data-dtype="Number"/>
  </div>

  <div class="form-group stacked">
    <label>{{localize "DNK.Description"}}</label>
    <textarea name="system.description" rows="8">{{system.description}}</textarea>
  </div>
</form>
